@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>即时资讯管理系统</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/css.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/sdmenu.js"></script>
    <script type="text/javascript" src="~/js/laydate/laydate.js"></script>

</head>

<body>
    <div class="header">
        <div class="logo"><img src="~/img/logo.png"/></div>

        <div class="header-right">
            <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">@Session["CurrentUser"].ToString() </a>
            <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">
                        注销系统
                    </h3>
                </div>
                <div class="modal-body">
                    <p>
                        您确定要注销退出系统吗？
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="~/Account/Index">确定退出</a>
                </div>
            </div>
            </a>
        </div>
    </div>
    <!-- 顶部 -->

    <div id="middle">
        <div class="left">

            <script type="text/javascript">
                var myMenu;
                window.onload = function () {
                    myMenu = new SDMenu("my_menu");
                    myMenu.init();
                };
            </script>

            <div id="my_menu" class="sdmenu">
                <div>
                    <span>业务处理</span>
                    <a href="~/Items/GetItems">资讯列表</a>
                    <a href="~/Items/AddItem">添加资讯</a>
                    <a href="#">信息推送</a>
                </div>
              
                <div>
                    <span>评论处理</span>
                    <a href="~/Items/Getcomments">评论检查</a>
                </div>
                <div>
                    <span>通知公告</span>
                    <a href="~/Notice/addnotice">发布通知</a>
                </div>
                <div>
                    <span>用户管理</span>
                    <a href="~/User/GetUser">查看用户信息</a>
                </div>
                <div>
                    <span>发布广告</span>
                </div>
                <div>
                    <span>提现管理</span>
                </div>
                <div class="collapsed">
                    <span>系统管理</span>
                    <a href="#">更改密码</a>
                    <a href="#">系统日志</a>
                    <a href="#">用户管理</a>
                </div>
            </div>
        </div>
        <div class="Switch"></div>
        <script type="text/javascript">
            $(document).ready(function (e) {
                $(".Switch").click(function () {
                    $(".left").toggle();

                });
            });
        </script>

        <div class="right" id="mainFrame">

            @RenderBody()
        </div>
    </div>

    <!-- 底部 -->
    <div id="footer">版权所有：口袋快爆 &copy; 2016&nbsp;&nbsp;&nbsp;&nbsp;</div>



    <script>
        !function () {
            laydate.skin('molv');
            laydate({ elem: '#Calendar' });
            laydate.skin('molv');
            laydate({ elem: '#Calendar2' });
        }();

    </script>




</body>
</html>
